<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenhouse9.bookmaster.lecture.BookMapper">
  <select id="selectBook" resultType="com.greenhouse9.bookmaster.lecture.Book">
    select * from book where id = #{id}
  </select>
  <select id="selectBook2" resultType="com.greenhouse9.bookmaster.lecture.Book">
    select * from book where id = #{id} and title like '%' || #{title} '%'
  </select>
  <select id="selectAllBooks" resultType="com.greenhouse9.bookmaster.lecture.Book">
  select * from book
  </select>
</mapper>